input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dogContainer {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 50vmin);
  grid-gap: 20px;
  justify-content: space-around;
}

.searchForm{
  border: 1px solid gray;
  border-radius: 10px;
  background-color: grey;
  position: relative;
  padding: 10px;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 9999;
}