.logout {
  list-style: none;
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
}
.title {
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
}

.nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: aquamarine;
  left: 0px;
}

.btn{
  display: flex;
}